{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('css/base.css') }}>
{% endblock %}

{% block body %}
    <h1 class="title">Accueil</h1>

    {% if app.user %}

        <p>Bonjour {{ app.user.email }}</p>
        <a href={{ path('app_logout') }}>Se déconnecter</a>
        <a href={{ path('app_article') }}>Ajouter un article</a>

        {% for article in articles %}
            <div class="article">
                <p><b>ARTICLE : {{ article.id }}</b> - {{ article.titre }} / posté par {{ article.user.email }}</p>
                <a href="{{ path('article_delete', {id: article.id}) }}">Supprimer</a>
                <a href="{{ path('commentaire_create', {id: article.id}) }}">Ajouter un commentaire</a>

                {% if article.commentaires|length != 0 %}

                    {% for commentaire in article.commentaires %}
                        <p><b>COMMENTAIRE : {{ article.id }} / {{ commentaire.objet }} - {{ commentaire.contenu }}</b></p>
                        <a href={{ path('commentaire_answer', {id: commentaire.id}) }}>Répondre au commentaire</a>
                    {% endfor %}

                {% else %}
                    <p>Aucun commentaire</p>
                {% endif %}
            </div>

        {% endfor %}

        {% else %}
            <a href={{ path('app_register') }}>S'inscrire</a>
            <a href={{ path('app_login') }}>Se connecter</a>
    {% endif %}

{% endblock %}
