{% extends 'base.html.twig' %}

{% block title %}Commentaire{% endblock %}

{% block body %}

    {{ form_start(form) }}

    {{ form_label(form.objet) }}
    {{ form_widget(form.objet) }}

    {{ form_label(form.contenu) }}
    {{ form_widget(form.contenu) }}

    <button type="submit">Ajouter</button>

    {{ form_end(form) }}

{% endblock %}
